
Mathematica/.DS_Store
.DS_Store
.DS_Store
*.dat
*.h5
*.h5
output/lcdm_snap001_cdm
output/lcdm_snap001_cdm
output/lcdm_snap002_cdm
output/lcdm_snap000_cdm
Mathematica/xSVT/.DS_Store
.DS_Store
.DS_Store
output/EFT_settings_used.ini
output/lcdm_lightcone0_0116_cdm
output/lcdm_lightcone0_info.bin
output/lcdm_lightcone1_0114_cdm
output/lcdm_lightcone1_0115_cdm
output/lcdm_lightcone1_info.bin
output/lcdm_snap003_cdm
.DS_Store
gevolution
.DS_Store
output/EFT_classparameters.ini
output/EFT_classunused_parameters
